[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.0"
requests = "*"
python-dotenv = "==1.0.0"
flask-cors = "==3.0.10"
pymongo = "*"

[dev-packages]
black = "==20.8.b1"
pylint = "==2.7.2"
pycodestyle = "==2.6.0"

[requires]
python_version = "3.11"
